@import url(//fonts.googleapis.com/css?family=Open+Sans);

:root {
  --table-header-color: rgb(202, 194, 194);
  --do-nothing-color: rgb(202, 194, 194);
  --table-border: black;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  width: 40%;
  margin: 0 auto;
  padding: 10px 0;
}

#daily-routine-table {
  width: 40%;
  margin: 0 auto;
  border-collapse: collapse;
}
#daily-routine-table thead {
  background-color: var(--table-header-color);
}
#daily-routine-table td,
tr {
  border: 1px solid var(--table-border);
  padding: 5px 10px;
  margin: 0px;
}

.do-nothing td {
  color: var(--do-nothing-color);
}

#additional-items-to-add {
  width: 40%;
  margin: 20px auto;
}
