@import url(//fonts.googleapis.com/css?family=Open+Sans);

:root {
  --table-header-color: rgb(202, 194, 194);
  --do-nothing-color: rgb(202, 194, 194);
  --table-border: black;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

#daily-routine-table {
  width: 30%;
  margin: 0 auto;
  border-collapse: collapse;
}
#daily-routine-table thead {
  background-color: var(--table-header-color);
}
#daily-routine-table td,
tr {
  border: 2px solid var(--table-border);
  padding: 20px;
  margin: 0px;
}

.do-nothing td {
  color: var(--do-nothing-color);
}
